<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.playpang.ssucheck">
    <!-- permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/facepasslogo"
        android:label="Face Pass"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CBA_MyCheckSubject5"></activity>
        <activity android:name=".CBA_MyCheckSubject4" />
        <activity android:name=".CBA_MyCheckSubject3" />
        <activity android:name=".CBA_MyCheckSubject2" />
        <activity android:name=".CBA_MyCheckSubject1" />
        <activity android:name=".CAA_RealTimeCheck2" />
        <activity android:name=".CD_ChangeCheck">
        </activity>
        <activity android:name=".CC_TimeTable" />
        <activity android:name=".CB_MyCheck" />
        <activity android:name=".CA_RealTimeCheck" />
        <activity android:name=".C_Menu" />
        <activity android:name=".B_Login" />
        <activity android:name=".A_Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>